/*****
PARIENTE CSS
*****/


html, body {
  overflow-x: hidden;
}

body {
  font-size: 1em;
  color: #FFFFFF;
  font-family: Avenir, Helvetica, sans-serif;
  font-weight: 300;
  margin-top: 1em;
  background: url('assets/img/cinema-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {
  letter-spacing: 2.57px;
  margin: 1em 0.5em 0.5em;
  text-shadow: 2px 2px #000000;
}

h1 {
  color: #DE3343;
  text-shadow: 1px 1px #FFFFFF;
}

#app {
  margin: auto;
  width: 70%;
}

#content {
  min-height: 300px;
}

#footer {
  max-width: 400px;
  margin: auto
}

.subtitle {
  width: 60%;
  margin: auto
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: #9b59b6;
}

p {
  margin: 0
}

form {
  margin: auto;
  width: 80%;
}

label {
  font-size: 1.5em;
  letter-spacing: 2.06px;
}

button {
  color: #FFFFFF;
  font-family: Avenir, Helvetica, sans-serif;
  letter-spacing: 2px;
  padding: 0.5em 1em;
  font-size: 18px;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 1em;
  cursor: pointer;
}

.btn-red {
  background-color: #E74C3C;
  border-bottom: 2px solid #FFFFFF;
  box-shadow: 2px 2px #000;
}

.btn-orange {
  background-color: #F39C12;
  border-bottom: 2px solid #FFFFFF;
  box-shadow: 2px 2px #000;
}

.btn-green {
  background-color: #2DAF4A;
  border: 2px solid #2DAF4A;
}

select {
  margin-bottom: 1em
}

ul {
  list-style: none;
  margin-left: 5em
}

li {
  display: inline-block;
  border-radius: 5px;
  margin: 1em 1em;
}

.moviebox-bg {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
    border-radius: 5px;
    overflow: hidden;
    height: 330px;
    width: 217px
}

.moviebox-title {
    box-sizing: content-box;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    line-height: 2em;
    padding-left: 0.5em;
    margin-top: 280px;
    background: rgba(60,60,60,0.8);
    border-radius: 0px 5px 5px 0px;
    width: 80%
}
.ribbon-red,
.ribbon-green {
    width: 150px;
    position: static;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    background: #C61A39;
    float: right;
    margin: 20px -41px 0px 0px;
    font-weight: 700;
    transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.5)
}

.ribbon-green {
  background-color: #2B9C44;
}

/**** DRY CLASSES ****/

.center {
  text-align: center
}

.left {
  float: left
}

.right {
  float: right
}

.block {
  display: block
}

.inline-block {
  display: inline-block;
}

.align-top {
  vertical-align: top;
}
